* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
}
#nav {
  width: 100%;
  padding: 15px 120px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
  /* margin-top: 55px; */
  background-color: #fff;
}
#logo {
  width: 195px;
  height: 53px;
}
#nav_content {
  width: 791px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav_content ul {
  display: flex;
  list-style: none;
  width: 424px;
  justify-content: space-between;
}
#nav_content ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  cursor: pointer;
}
.btn {
  background-color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
}
#btn_login {
  padding: 10px 20px;
  color: #180f00;
  border: 1px solid #180f00;
  text-transform: uppercase;
  border-radius: 10px;
  margin-right: 20px;
}
#btn_register {
  padding: 10px 20px;
  color: #f2f2f2;
  background-color: #ef9500;
  border-radius: 10px;
}
#nav_mob {
  width: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #fadfb3;
  z-index: 999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding-top: 50px;
  transition: all 0.3 ease;
}
#ham {
  display: none;
}
#nav_mob_content {
  margin-top: 25px;
  width: 100%;
  text-align: center;
}
#nav_mob_content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  margin-top: 25px;
  cursor: pointer;
}
#btn_mob_login {
  width: 250px;
  background-color: transparent;
  border: 1px solid #180f00;
  margin-top: 25px;
}
#btn_mob_register {
  width: 250px;
  background-color: #fdf4e6;
  margin-top: 25px;
}
#nav_mob_content img {
  width: 195px;
  height: 52px;
  margin-top: 50px;
}
#hero {
  width: 100%;
  background-color: #fff;
  display: flex;
  position: relative;
  padding: 70px 120px;
}
#hero_left {
  padding-left: 80px;
  width: 50%;
}
#hero_left h1 {
  font-size: 54px;
  font-weight: 800;
  line-height: 68px;
  color: #ef9500;
  width: 700px;
}
#hero_left p {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  width: 620px;
  margin-top: 20px;
  margin-bottom: 50px;
}
#btn_together {
  background-color: #ef9500;
  color: #fff;
}
#hero_right {
  width: 50%;
  position: relative;
}
#hero_right img {
  position: relative;
  z-index: 2;
}
#hero_box1 {
  width: 229px;
  height: 603px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ef9500;
}
#contact_us {
  width: 100%;
  padding: 20px;
}
#contact_us h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}
#contact_sub {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin: 30px auto;
  width: 800px;
}
#contact_content {
  width: 1100px;
  display: flex;
  margin: 30px auto;
}
#contact_content img {
  width: 612px;
  height: 460px;
}
#contact_form {
  width: 400px;
  text-align: left;
  margin-left: 30px;
}
#contact_form p {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}
#contact_row:not(:first-child) {
  margin-top: 25px;
}
#contact_form input {
  width: 400px;
  height: 50px;
  padding: 15px 20px;
  border-radius: 10px;
  outline: 1px solid #ef9500;
  border: none;
  margin-top: 5px;
  box-shadow: 2px 2px 8px 0px #00000026;
}
#contact_row textarea {
  width: 400px;
  height: 155px;
  padding: 15px 20px;
  border-radius: 10px;
  outline: 1px solid #ef9500;
  border: none;
  margin-top: 5px;
  box-shadow: 2px 2px 8px 0px #00000026;
}
#btn_submit {
  width: 100%;
  background-color: #ef9500;
  color: #fff;
  margin-top: 30px;
}
#contact_social {
  margin: 30px auto;
  width: 312px !important;
  display: flex;
  height: 48px !important;
}
#worldwide {
  width: 100%;
  padding: 20px;
}
#worldwide h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
}
#worldwide_content {
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.worldwide_card {
  width: 310px;
  height: 390px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fdf4e6;
  margin-top: 30px;
  margin-right: 30px;
}
.worldwide_card h2 {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  margin: 20px 0;
}
.worldwide_card p {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  width: 224px;
}
#footer {
  width: 100%;
  background-color: #fff;
  padding: 80px 120px;
}
#footer_top {
  display: flex;
}
#footer_col1 {
  width: 50%;
  display: flex;
}
#footer_col1_sub1 {
  width: 70%;
}
#footer_col1_sub1 img {
  width: 195px;
  height: 52px;
  margin-bottom: 50px;
}
#footer_col1_sub2 p {
  margin-left: auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}
#footer_col1_sub2 p:last-child {
  margin-top: 20px;
}
#footer_col1_sub1 p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
#footer_col2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
#footer_col2 ul {
  list-style: none;
}
#footer_col2 ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}
#footer_col2 ul li:not(:first-child) {
  margin-top: 20px;
}
#footer_col2 ul li:first-child {
  font-size: 20px;
  font-weight: 700;
}
#footer_bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer_bottom p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
#social_links img {
  margin-left: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  #hero {
    width: 100%;
    background-color: #fff;
    display: flex;
    position: relative;
    padding: 70px 20px;
  }
  #hero_left {
    padding-left: 0px;
    width: 50%;
  }
}
@media only screen and (max-width: 1100px) {
  #nav {
    padding: 15px 20px;
  }
  #contact_content {
    width: 900px;
    display: flex;
    margin: 30px auto;
  }
  #contact_content img {
    width: 402px;
    height: 360px;
  }
  #footer_top {
    display: flex;
    flex-direction: column;
  }
  #footer_col1 {
    width: 100%;
    display: flex;
  }
  #footer_col2 {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 900px) {
  #nav_content {
    display: none;
  }
  #nav {
    background-color: transparent;
  }
  #ham {
    display: block;
  }
  #hero {
    width: 100%;
    flex-direction: column-reverse;
  }
  #hero_right {
    width: 100%;
    position: relative;
    margin-bottom: 80px;
  }
  #hero_right img {
    position: relative;
    margin: 0 auto;
    display: flex;
    z-index: 2;
  }
  #hero_left {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
  #hero_left h1 {
    width: 100%;
  }
  #hero_left p {
    width: 620px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  #contact_content {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  #contact_form {
    width: 400px;
    text-align: left;
    margin: 50px auto;
    margin-bottom: 40px;
  }
  #contact_content img {
    margin: 20px auto;
  }
  #contact_sub {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 500;
    text-align: center;
    margin: 30px auto;
    width: 100%;
  }
}
@media only screen and (max-width: 719px) {
  #footer {
    width: 100%;
    background-color: #fff;
    padding: 80px 20px;
  }
}
@media only screen and (max-width: 600px) {
  #hero_right img {
    position: relative;
    z-index: 2;
    width: 350px;
  }
  #hero_box1 {
    width: 129px;
    height: 383px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ef9500;
  }
  #hero_left h1 {
    font-size: 30px;
    line-height: 1.5;
  }
  #hero_left p {
    font-size: 20px;
    width: 100%;
  }
  .worldwide_card {
    width: 310px;
    height: 390px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fdf4e6;
    margin-top: 30px;
    margin-right: 0;
  }
  #worldwide h1 {
    font-size: 30px;
  }
  #footer_col2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #footer_col2 ul {
    list-style: none;
    margin-top: 30px;
  }
  #footer_bottom {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  #social_links {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 500px) {
  #contact_form {
    width: 100%;
    text-align: left;
    margin: 50px auto;
    margin-bottom: 40px;
  }
  #contact_form input {
    width: 100%;
    height: 50px;
    padding: 15px 20px;
    border-radius: 10px;
    outline: 1px solid #ef9500;
    border: none;
    margin-top: 5px;
    box-shadow: 2px 2px 8px 0px #00000026;
  }
  #contact_row textarea {
    width: 100%;
    height: 155px;
    padding: 15px 20px;
    border-radius: 10px;
    outline: 1px solid #ef9500;
    border: none;
    margin-top: 5px;
    box-shadow: 2px 2px 8px 0px #00000026;
  }
  #contact_content img {
    width: 100%;
    height: auto;
  }
  #footer_col1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #footer_col1_sub2 p {
    margin-left: auto;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
    margin-top: 30px;
  }
}
