* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Mulish", sans-serif;
}
#login {
  width: 100;
  position: relative;
  padding: 55px 0;
}
#box1 {
  width: 421px;
  height: 837px;
  background-color: #ef9500;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
#box2 {
  width: 120px;
  height: 375px;
  background-color: #482d00;
  position: absolute;
  right: 0;
  top: 550px;
  z-index: 0;
}
#nav {
  width: 100%;
  padding: 15px 120px;
  /* margin-top: 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
  /* margin-top: 55px; */
  background-color: #fff;
}
#logo {
  width: 195px;
  height: 53px;
}
#nav_content {
  width: 791px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav_content ul {
  display: flex;
  list-style: none;
  width: 424px;
  justify-content: space-between;
}
#nav_content ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  cursor: pointer;
}
.btn {
  background-color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
}
#btn_login {
  padding: 10px 20px;
  color: #180f00;
  border: 1px solid #180f00;
  text-transform: uppercase;
  border-radius: 10px;
  margin-right: 20px;
}
#btn_register {
  padding: 10px 20px;
  color: #f2f2f2;
  background-color: #ef9500;
  border-radius: 10px;
}
#nav_mob {
  width: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #fadfb3;
  z-index: 999;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding-top: 50px;
  transition: all 0.3 ease;
}
#ham {
  display: none;
}
#nav_mob_content {
  margin-top: 25px;
  width: 100%;
  text-align: center;
}
#nav_mob_content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  margin-top: 25px;
  cursor: pointer;
}
#btn_mob_login {
  width: 250px;
  background-color: transparent;
  border: 1px solid #180f00;
  margin-top: 25px;
}
#btn_mob_register {
  width: 250px;
  background-color: #fdf4e6;
  margin-top: 25px;
}
#nav_mob_content img {
  width: 195px;
  height: 52px;
  margin-top: 50px;
}
#login_box {
  width: 1040px;
  height: 1560px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 10px 0px #00000026;
  margin: 50px auto;
  display: flex;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
#login_box img {
  width: 580px;
  height: 865px;
}
#ensure {
  width: 350px;
  padding: 10px;
  display: flex;
  background-color: #ef9500;
  border-radius: 10px;
  color: #fff;
  justify-content: space-between;
  margin-bottom: 30px;
}
#ensure_img {
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px;
}
#contact {
  height: 16px !important;
  width: 152px !important;
  margin-bottom: 30px;
}
#login_content_box {
  width: 100%;
  background-color: #fdf4e6;
  box-shadow: -5px 0px 15px 0px #00000026;
  padding: 96px 70px;
}
#login_content_box h1 {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: #180f00;
}
#login_row {
  margin-top: 30px;
}
#login_row p {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #180f00;
}
#login_row input {
  background-color: #fff;
  width: 310px;
  height: 50px;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #ef9500;
  margin-top: 5px;
  box-shadow: 2px 2px 8px 0px #00000026;
}
#login_row select {
  background-color: #fff;
}
#btn_login_form {
  background-color: #ef9500;
  color: #fff;
  margin-top: 20px;
  width: 310px;
  margin-top: 50px;
}
#register_img1 {
  height: 314px !important;
}
#register_img2 {
  height: 615px !important;
}
#register_img3 {
  height: 630px !important;
}
.f_or {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  color: #180f00;
}
.btn_social {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 2px 2px 8px 0px #00000026;
  margin: 0 auto;
  margin-top: 15px;
}
.btn_social img {
  width: 24px !important;
  height: 24px !important;
  margin-right: 10px;
}
#register_here {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #180f00;
  margin-top: 30px;
}
#register_here span {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #ef9500;
  margin-left: 5px;
  transform: translateY(-1.7px);
}
#footer {
  width: 100%;
  background-color: #fff;
  padding: 80px 120px;
}
#footer_top {
  display: flex;
}
#footer_col1 {
  width: 50%;
  display: flex;
}
#footer_col1_sub1 {
  width: 70%;
}
#footer_col1_sub1 img {
  width: 195px;
  height: 52px;
  margin-bottom: 50px;
}
#footer_col1_sub2 p {
  margin-left: auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}
#footer_col1_sub2 p:last-child {
  margin-top: 20px;
}
#footer_col1_sub1 p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
#footer_col2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
#footer_col2 ul {
  list-style: none;
}
#footer_col2 ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}
#footer_col2 ul li:not(:first-child) {
  margin-top: 20px;
}
#footer_col2 ul li:first-child {
  font-size: 20px;
  font-weight: 700;
}
#footer_bottom {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer_bottom p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
#social_links img {
  margin-left: 30px;
  cursor: pointer;
}
#login_row select {
  width: 310px;
  height: 50px;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  outline: 1px solid #ef9500;
  margin-top: 5px;
  box-shadow: 2px 2px 8px 0px #00000026;
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1100px) {
  #nav {
    padding: 15px 20px;
  }
  #login_box {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px 4px 10px 0px #00000026;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
    position: relative;
    align-items: center;
  }
  #register_img2 {
    display: none;
  }
  #register_img3 {
    display: none;
  }
  #register_img4 {
    display: none;
  }
  #login_content_box {
    width: 580px;
    border-radius: 10px;
    margin-top: -50px;
    background-color: #fdf4e6;
    box-shadow: -5px 0px 15px 0px #00000026;
    padding: 96px 70px;
    margin-bottom: 100px;
  }
  #login_box img {
    border-radius: 10px;
  }
  #login_row input {
    background-color: #fff;
    width: 100%;
    height: 50px;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #ef9500;
    margin-top: 5px;
    box-shadow: 2px 2px 8px 0px #00000026;
  }
  #login_row select {
    background-color: #fff;
    width: 100%;
  }
  #btn_login_form {
    background-color: #ef9500;
    color: #fff;
    margin-top: 20px;
    width: 310px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
  }
  #ensure {
    width: 350px;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    background-color: #ef9500;
    border-radius: 10px;
    color: #fff;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  #contact {
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  #login_content_box h1 {
    text-align: center;
    margin-top: 50px;
  }
  #footer_top {
    display: flex;
    flex-direction: column;
  }
  #footer_col1 {
    width: 100%;
    display: flex;
  }
  #footer_col2 {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 900px) {
  #nav_content {
    display: none;
  }
  #nav {
    background-color: transparent;
  }
  #ham {
    display: block;
  }
}
@media only screen and (max-width: 719px) {
  #footer {
    width: 100%;
    background-color: #fff;
    padding: 80px 20px;
  }
}
@media only screen and (max-width: 600px) {
  #login_box {
    padding-left: 20px;
    padding-right: 20px;
  }
  #login_content_box {
    width: 100%;
    border-radius: 10px;
    margin-top: -50px;
    background-color: #fdf4e6;
    box-shadow: -5px 0px 15px 0px #00000026;
    padding: 96px 20px;
    margin-bottom: 100px;
  }
  #login_box img {
    width: 100%;
  }
  #footer_col2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #footer_col2 ul {
    list-style: none;
    margin-top: 30px;
  }
  #footer_bottom {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  #social_links {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 500px) {
  #footer_col1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #footer_col1_sub2 p {
    margin-left: auto;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
    margin-top: 30px;
  }
}
